<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button color="dark" (click)="takePicture()">Take A Picture</button>

  <img [src]="imgUrl"/>

  <div *ngIf="acceleration != null">
    {{acceleration | json}}
  </div>
</ion-content>
